body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color:  #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color:  #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p{line-height: 2;}

.intro{
    width: 30%;
    margin: auto;
}
.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
.middle-container{
margin: 100px 0px;
}
.bottom-container{

}
.cloud-top{
    position: absolute;
    right: 400px;
    top: 50px;
}
.cloud-bottom{
    position: absolute;
    left: 400px;
    bottom: 300px;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
    
}
.skill-img{
    width: 25%;
    float: left;
    margin-right: 30px ;
}
.chilli-img{
    width: 25%;
    float: right;
    margin-left: 30px ;
}
.bottom-container{
    background-color: #66BFBF;
    height: 100px;
    margin-top: 50px;
    padding: 50px 0px 20px;
}
a{
    color: #11999e;
    font-family:'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.copy-right{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}
.btn{
    background-color: #11999E;
    border: 1px solid;
}
hr{
    border: 6px dotted #EAF6F6 ;
    width: 50px;
    border-bottom: none;
    margin: 100px auto;
}
.contact-message{
    width: 40%;
    margin: 40px auto;
}
.myButton {
	background-color:#11CDD4;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:17px;
	font-weight:bold;
	padding:20px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#30E3CB;
}
.myButton:active {
	position:relative;
	top:1px;
}
